<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <title>Takeshi's blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Tseng Yi">
        <meta name="author" content="Takeshi">
        <meta http-equiv="Expires" content="604800" />

        <style type="text/css">
            body {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            li {
                margin-bottom: 16px;
            }
        </style>

        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    </head>

    <body>

        <%= render :partial => "../header" %>

        <!-- fork me on github -->
        <a class="fork-button" href="https://github.com/TakeshiTseng/blog.takeshi.tw"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1032;" src="/images/FMOG.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

        <% if request.path == '/article' or request.path == '/article/index.html' %>
        <div class="ui container raised segment" style="min-height: 450px;">
            <%= yield %>
        </div>
        <% else %>
        <div id="article-content" class="ui text container piled segment" style="min-height: 450px;">
            <%= yield %>

            <!-- for social media sharing -->
            <div id="sharing_area" class="ui loading segment">
                <h4>分享這篇文章 : </h4>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>

            </div>

            <!-- for disqus -->
            <div id="disqus_thread"></div>

            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


        </div>
        <% end %>

        <%= render :partial => "../footer" %>

        <!-- Le javascript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="/javascripts/semantic.min.js"></script>
        <script src="/javascripts/blog.js"></script>
        <% if request.path != '/article' and request.path != '/article/index.html' %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.5/han.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://ws.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
            stLight.options({publisher: "b8f81d63-2a0d-4819-b08f-9e81fe389372", doNotHash: false, doNotCopy: false, hashAddressBar: false});

            setTimeout(function() {
                $('#sharing_area').removeClass('loading');
            }, 1500);

        </script>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'takeshiblog';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>


        <% end %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41072125-3', 'auto');
            ga('send', 'pageview');

        </script>
        <script>
            Han($('#article-content')[0]).render()
        </script>
        <%= livereload_js if ENV["RACK_ENV"] != "production" && defined?(App)%>
    </body>
</html>

<%= stylesheet_link_tag 'style' %>
<link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.css">
<% if request.path != '/article' and request.path != '/article/index.html' %>
<link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.5/han.min.css">
<link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
<% end %>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Le fav and touch icons -->